.login {
  height: 100vh;
  background: url("./images/bg.jpg") no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
/* 中间区域样式 */
.login .login-content {
  width: 400px;
  padding: 30px 40px;
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-content h3 {
  text-align: center;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
